<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>My CMS</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-main">
      <div class="container">
        <a class="navbar-brand" href="#">LazadaMall</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link zoom" routerLink="/">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link zoom" routerLink="/mycustomer">My customer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link zoom" routerLink="/mymalls">My Malls</a>
            </li>
            <li class="nav-item">
              <a class="nav-link zoom" routerLink="/myproducts">My Products</a>
            </li>
          </ul>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Hi Erin</a>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Add Content
              </a>

              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a
                  class="dropdown-item"
                  href="#"
                  data-toggle="modal"
                  data-target="#exampleModal"
                  >Add Mall</a
                >
                <a class="dropdown-item" href="#">Add User</a>
                <a class="dropdown-item" href="#">Add Product</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section id="titlesection" class="bg-dark py-4">
      <div class="container">
        <h1 class="text-light">
          <i class="fas fa-cog"></i> Dashboard -<small class="text-secondary"
            >Lazada Mall</small
          >
        </h1>
      </div>
    </section>
  </body>
</html>
